# Ignore folders
# =========================

*.docx

# Windows
# =========================

Thumbs.db
ehthumbs.db
# Folder config file
Desktop.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/
# Windows Installer files
*.cab
*.msi
*.msm
*.msp
# Windows shortcuts
*.lnk

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride
# Thumbnails
._*
